name: Build RSDKv5U Android TV

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libogg-dev libvorbis-dev libtheora-dev

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Build APK
        run: |
          chmod +x gradlew
          # Compila para 32 e 64 bits para garantir compatibilidade com qualquer TV
          ./gradlew assembleRelease -Pandroid.injected.build.abi="armeabi-v7a,arm64-v8a"
        working-directory: ./android

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Sonic-Origins-AndroidTV
          path: android/app/build/outputs/apk/release/*.apk
          
