name: Build Android APK

on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Install NDK
        run: sdkmanager "ndk;25.2.9519653" # Versão comum, ajuste se necessário

      - name: Build with Gradle
        run: |
          chmod +x gradlew
          ./gradlew assembleRelease
        working-directory: ./android # Certifique-ce que a pasta do projeto Android está aqui

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: RSDKv5-Android-APK
          path: android/app/build/outputs/apk/release/*.apk
          
